
@import url('https://fonts.googleapis.com/css?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.logo-header {
    display: flex;
    align-items: center;
    animation: fade-in 3s forwards;
    padding-left: 20px;
}

.logo-header img {
    width: 100%;
    max-width: 250px;
}

.logo {
    color: #fff;
    font-size: 25px;
    font-weight: 100;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: rgb(255, 255, 255);
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 100px 0;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #25b362;
}

.menu .navbar ul li {
    position: relative;
    float: left;
    
}

.menu .navbar ul li a {
    font-size: 16px;
    padding: 20px;
    color: #fcfcfc;
    display: block;
    font-weight: 600;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label{
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
    margin-right: 20px;
}

.submenu #carrito{
    display: none;
}



.submenu:hover #carrito{
    display: block;
    position: absolute;
    right: 0;
    backdrop-filter : blur(5px);
    top: 100%;
    z-index: 1;
    background-color: #4E485076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th,td {
    color: #fff;
}

.borrar{
    background-color: #25b362;
    border-radius: 50%;
    padding: 5px 10px;
    color: #fff;
    font-weight: 800;
    cursor: pointer;
}

.header-content {    
    display: flex;
    margin-top: 60px;
}

.header-txt {
    flex-basis: 50%;
    padding-left: 100px;
}

.header-txt span {
    font-size: 16px;
    color: #25b362;
    font-weight: 700;
    margin-bottom: 15px;
    display: block;
}

.header-txt h1 {
    font-size: 55px;
    line-height: 1;
    color: #333128;
    margin-bottom: 25px;
}

p{
    font-size: 16px;
    color: #181713;
    margin-bottom: 45px;
}



.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-img img {
    width: 400px;
}

.btn-1{
    display: inline-block;
    background: #25b362;
    color: #fff;
    padding: 15px 30px;
    border-radius: 50px;
    font-weight: 700;
    font-size: 16px;
    transition: 0.2s;
    text-transform: capitalize;
}



.information{
    width: 70%;
    box-shadow: 0 0 15px rgba(37, 179, 99, 0.534);
    padding: 25px 75px;
    margin-top: -75px;
    background-color: #fff;
}

.information-content{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.information-1 img{
    width: 35px;
}

h3{
    font-size: 17px;
    color: #333128;
    text-transform: capitalize;
}

.information-1 p{
    margin-bottom: 0;
}

.oferts{
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    text-align: center;
    flex-basis: calc(25% - 20px);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    padding: 35px;

}

.ofert-1 img {
    width: 140px;
    margin-bottom: 10px;
}

.ofert-1 p{
    font-size: 16px;
    margin: 0;
    font-weight: 600;
    color:#25b362;
}

.products {
    padding: 0 0 100px 0;
    text-align: center;
}

.products h2{
    font-size: 40px;
    color: #181713;
    text-transform: capitalize;
    margin-bottom: 55px;
}

.product-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap : 50px;


}

.product{
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 35px;
}

.product img{
    width: 150%;
    height: 130px;
    margin-bottom: 10px;
}

.product h3{
    color: #25b362;
}


.product p{
    font-size: 15px;
    margin: 0;
    font-weight: 600;
    color: #181713
}

.btn-2{
    display: inline-block;
    margin-top: 15px;
    padding: 7px 25px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #25b362;
}


.service {
    padding-bottom: 100px;
    display: flex;
    justify-content: space-between;
}

.service-1{
    flex-basis: 30%;
    padding: 25px;
    background-color: #25b362;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.815);
    display: flex;
    justify-content: center;
    align-items: center;
}

.store{
    width: 700px;
    height: 350px;
}

.service-2 {
    flex-basis: 40%;
    padding: 25px;
    display: flex;
    background-color: #fcfcfc;
    justify-content: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.815);
    align-items: center;
    width: 100%;
}

.service-3 {
    flex-basis: 30%;
    padding: 25px;
    display: flex;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.815);
    background-color: #ee312e;
    justify-content: center;
    align-items: center;
}


.contact {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    display: flex;
}

input {
    padding: 17px 35px;
    border-radius: 25px;
    border: 1px solid #25b362;
    outline: none;
}

.btn-3 {
    margin-left: 10px;
    color: #ffffff;
    background-color: #25b362;
}

.footer {  

    padding: 50px 20px;

    background-color: #ee312e;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 10px;
}

.link ul {
    color: #ffffff;
}

.link a{
    color: #ffffff;
    font-size: 17px;
    margin-bottom: 10px;
    display: block;
    margin-bottom: 10px;
}

.link a:hover {
    color: #ffffff;
    font-size: 15px;
    display: block;
    margin-bottom: 10px; 
}

@media(max-width: 700px){
    .menu {
        padding: 30px;
    }
    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #303030;
        display: none;
    }

    .menu .navbar ul li{
        width: 100%;
    }

    .menu .navbar ul li a{
        color: #ffffff;
    }

    .logo {
        display: none;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .submenu:hover #carrito{
        min-width: 140px;
    }
    
    .header {
        min-height: 0vh;
        padding: 100px 30px;
    }

    .header-content {
        flex-direction: column;
        text-align: center;
        margin-top: 150px;
    }

    .header-txt{
        padding-left: 0;
    }

    .header-img img{
        width: 300px;
    }

    .information {
        display: none;
    }

    .oferts {
        padding: 30px;
        flex-direction: column;
    }

    .ofert-1 {
        margin-bottom: 25px;
    }

    .products {
        padding: 0 30px 100px 30px;
    }

    .product-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .product-content img{
        width: 100%;
        height: auto;
    }

    .service {
        flex-direction: column;
    }

    .footer-content {
        flex-direction: row;
        display: block;
        padding: 10px 40px;
    }
    .slider {
        width: 300px;
        text-align: center;
        overflow: hidden;
        margin-left: 60px;
      }

}

/* CSS CAROUSEL */

.slider {
    width: 300px;
    text-align: center;
    overflow: hidden;
    margin-left: 60px;
  }
  
.slides {
    display: flex;
    
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    
    
    
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
.slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
.slides::-webkit-scrollbar-track {
    background: transparent;
  }
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 300px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #ffffff;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

.author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
.author-info a {
    color: white;
  }
 
  
.slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
.slider > a:active {
    top: 1px;
  }
.slider > a:focus {
    background: #000;
  }
  
  /* Don't need button navigation */
  @supports (scroll-snap-type) {
    .slider > a {
      display: none;
    }
  }
  
  